<!DOCTYPE html>
<html>
<head>
<title>Error</title>
<meta charset="utf-8">
<style type="text/css">
* {font-family:Consolas, Courier New, Courier, monospace;font-size:14px;}
body {background-color:#fff;margin:40px;color:#000;}
h1 {font-weight:normal;font-size:14px;color:#990000;margin:0 0 4px 0;}
.content {border:#999 1px solid; background-color:#fff; padding:20px 20px 12px 20px;line-height:160%;}
</style>
</head>
<body>
<div class='content'>
<h1>Error</h1>
<pre>{!$e!}</pre>
</div>
</body>
</html>