{!if $result|@count > 0!}
{!foreach from=$result item=v!}
<div class="StoreTemplateItem" data-url="?c=admin&a=pcpreview&id={!$v.id!}&t=p&f=open">
    <div class="StoreTemplateItem-coverarea">
        <img width="100%" height="100%" src="{!$v.cover!}">
    </div>
    <div class="StoreTemplateItem-shadow">
        <div class="StoreTemplateItem-shadow-QRpic QRCode">
            <img src="{!$qrUrl!}?type=market&resize=180&url={!$v.previewUrl!}" alt="二维码">
        </div>
    </div>
    <div class="StoreTemplateItem-pricearea">
        <span class="StoreTemplateItem-pricearea-price">{!$v.groups!}</span>
    </div>
    <div class="StoreTemplateItem-titlearea">
        <img class="StoreTemplateItem-designthum" src="{!$v.cover!}" alt="封面图片">
        <span class="StoreTemplateItem-title">{!$v.name!}</span>
        <span class="StoreTemplateItem-desc">
            <span>设计:</span>
            <span>{!$v.user!}</span>
        </span>
    </div>
</div>
{!/foreach!}
{!/if!}