<!DOCTYPE html>
<html>

<head>
    <title>【房地产门户|房地产网】- 搜房网 房天下</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <link rel="stylesheet" type="text/css" href="{!$applicationConfig.domain.imgUrl.admin!}css/common.css?_{!$applicationConfig.application.imgver!}"> {!if $action=="index"!}
    <link rel="stylesheet" type="text/css" href="{!$applicationConfig.domain.imgUrl.admin!}css/index.css?_{!$applicationConfig.application.imgver!}"> {!elseif $action=="help"!}
    <link rel="stylesheet" type="text/css" href="{!$applicationConfig.domain.imgUrl.admin!}css/help.css?_{!$applicationConfig.application.imgver!}"> {!elseif $action=="updateLog"!}
    <link rel="stylesheet" type="text/css" href="{!$applicationConfig.domain.imgUrl.admin!}css/log.css?_{!$applicationConfig.application.imgver!}"> {!elseif $action=="citySelect"!}
    <link rel="stylesheet" type="text/css" href="{!$applicationConfig.domain.imgUrl.admin!}css/city.css?_{!$applicationConfig.application.imgver!}"> {!elseif $action == "tongji"!}
    <link rel="stylesheet" type="text/css" href="{!$applicationConfig.domain.imgUrl.admin!}css/tongji.css?_{!$applicationConfig.application.imgver!}"> {!elseif $action == "form"!}
    <link rel="stylesheet" type="text/css" href="{!$applicationConfig.domain.imgUrl.admin!}css/form.css?_{!$applicationConfig.application.imgver!}"> {!elseif $action=="open"!}
    <link rel="stylesheet" type="text/css" href="{!$applicationConfig.domain.imgUrl.admin!}css/open.css?_{!$applicationConfig.application.imgver!}"> {!elseif $action=="inviteUser"!}
    <link rel="stylesheet" type="text/css" href="{!$applicationConfig.domain.imgUrl.admin!}css/add.css?_{!$applicationConfig.application.imgver!}"> {!/if!}
    <script>
        window.onload = function () {
            var update = document.getElementById('update');
            var updateVer = update.getAttribute('data-ver');
            if (updateVer !== localStorage.updateVer) {
                update.nextElementSibling.style.display = 'block';
            }
            update.onclick = function () {
                localStorage.updateVer = updateVer;
            };
        };
    </script>
</head>

<body>
    <!-- 导航 start -->
    <div class="top relative">
        <div class="logo">
            <img src="{!$applicationConfig.domain.imgUrl.admin!}imgs/logo.png" />
        </div>
        <ul class="logoUl">
            <li>
                <a href="{!$applicationConfig.domain.siteUrl.admin!}?c=admin&a=index">项目</a>
            </li>
            <li>
                <a href="{!$applicationConfig.domain.siteUrl.admin!}?c=admin&a=open">公开模板</a>
            </li>
            <li>
                <a href="{!$applicationConfig.domain.siteUrl.admin!}?c=admin&a=cityList">城市集团渠道</a>
                <span class="light" style="background-color: {!if $color === 'yellow'!}#EBD21B{!/if!}"></span>
            </li>
            <li>
                <a href="{!$applicationConfig.domain.siteUrl.admin!}?c=admin&a=tongji">统计</a>
            </li>

            <li>
                <a href="{!$applicationConfig.domain.siteUrl.admin!}?c=admin&a=help">帮助</a>
            </li>
            <li>
                <a id="update" href="{!$applicationConfig.domain.siteUrl.admin!}?c=admin&a=updateLog" data-ver="20161114">更新日志</a>
                <span class="light" style="background-color:#00FF00;display: none;"></span>
            </li>
            <!--<li><a id="invite" href="{!$applicationConfig.domain.siteUrl.admin!}?c=admin&a=showInvitePage">邀请用户</a><span class="light" style="background-color:#00FF00;display: none;"></span></li>-->
        </ul>
        {!if $controllerName == 'Admin' && $actionName == 'index'!}
        <div class="nav" title="点击进入{!if $status=='online' !}回收站{!else!}我的项目{!/if!}">
            <div id="recycle" class="recycle_box" style="display: {!if $status=='online' !}block{!else!}none{!/if!};">
                <a href="{!$applicationConfig.domain.siteUrl.admin!}?c=admin&a=index&status=delete">
                    <img src="{!$applicationConfig.domain.imgUrl.admin!}imgs/recycle.png" height="34" alt="回收站" title="回收站">
                </a>
            </div>
            <div id="username" class="user_box" style="display: {!if $status=='online' !}block{!else!}none{!/if!};" title="用户名">
                <span>{!if $login_admin_info.nickname != ''!}{!$login_admin_info.nickname!}{!else!}{!$login_admin_info.name!}{!/if!}</span>
            </div>
            <div id="project" class="recycle_box" style="display: {!if $status=='delete' !}block{!else!}none{!/if!};">
                <a href="{!$applicationConfig.domain.siteUrl.admin!}?c=admin&a=index">
                    <img src="{!$applicationConfig.domain.imgUrl.admin!}imgs/project.png" height="34" alt="我的项目" title="我的项目">
                </a>
            </div>
        </div>
        <div id="hint" class="hint">
            <div style="position: absolute;top: 50%;left: 50%;width: 398px;margin: -239px 0 0 -230px;padding: 10px 40px;text-align: center;background-color: #fff;border-radius: 2px;">
                <div style="position:absolute;right:0;top:0;border:1px solid #CCCCCC;padding: 6px;line-height: 1;cursor: default;">×</div>
                <div style="position: relative;padding: 15px 0 20px;border-bottom: 1px solid #F3F3F3;">
                    <span style="font-size: 20px;color: #000;">请升级您的浏览器</span>
                </div>
                <div class="con">
                    <div style="margin: 30px 0 20px 0;">
                        <img src="//static.soufunimg.com/common_m/pc_public/images/bg_esfie8.png" alt="ie8头部图片" style="height:79px;">
                    </div>
                    <p style="font-size: 14px;color: #999;line-height: 24px;">尊敬的用户，为了您更好的编辑体验，请使用chrome浏览器。其他浏览器在编辑过程中可能存在不稳当情况 。</p>
                    <dl style="width: 294px;margin: 0 auto;margin-top: 25px">
                        <dd style="text-align:center;margin: 0">
                            <div style="display:inline-block;width: 113px;height: 38px;border: 1px solid #CCCCCC;border-radius: 2px;margin-bottom: 15px;padding: 5px 0 0 25px;cursor: pointer;text-align:left;">
                                <a href="http://www.chromeliulanqi.com/">
                                    <img src="//static.soufunimg.com/common_m/pc_public/images/chrome_bgesf.jpg" style="height:32px;" alt="chrome浏览器">
                                </a>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        {!else!}
        <div class="nav2">
            <a href="http://www.chromeliulanqi.com/Chrome_Latest_Setup.exe">
                <p>请使用
                    <b>chrome浏览器</b> 进行操作</p>
            </a>
        </div>
        {!/if!}
    </div>
    <div {!if $action=='citySelect' || $action=='open' || $action=="tongji" !}class="main" {!else!}class="content clearfix" {!/if!}>
        <!-- 导航 end -->