{!include file = "admin/header.html" action=help !}
<div class="leftCon">
    <ul>
        <li><a href="#que1">1. 如何画直线</a></li>
        <li><a href="#que2">2. 怎么添加透明按钮</a></li>
        <li><a href="#que3">3. 怎么删除已上传图片</a></li>
    </ul>
</div>
<div class="rightCon">
    <div id='que1' class="question">
        <h4>如何画直线</h4>
        <p>1. 选择矩形形状元素添加到页面</p>
        <p>2. 拖拽或者手动输入宽度和高度调整线条的粗细和长短</p>
        <p>3. 设置形状颜色</p>
    </div>
    <div id='que2' class="question">
        <h4>怎么添加透明按钮</h4>
        <p>1. 选择普通按钮元素添加到页面</p>
        <p>2. 设置按钮的背景色为透明，边框无或者为0px，阴影为0px</p>
        <img src="{!$applicationConfig.domain.imgUrl.admin!}imgs/help/button.png">
    </div>
    <div id='que3' class="question">
        <h4>怎么删除已上传图片</h4>
        <p>1. 打开图片库，鼠标放到目标图片上，左上角会显示X按钮</p>
        <p>2. 点击按钮，删除图片</p>
        <img src="{!$applicationConfig.domain.imgUrl.admin!}imgs/help/delete.png">
    </div>
</div>
</div>
</body>
</html>