{!include file = "admin/header.html" action=updateLog !}
<div id="20171212" class="record">
    <div class="recordHead">
        <span class="date">2017-12-12</span>
        <h5>［更新］h5创作平台v1.2.2更新优化日志</h5>
        <span class="arrowDown"></span>
    </div>
    <div class="targetCon">
        <h5>本次功能优化&更新</h5>
        <p>1. 实现OA帐号和房天下网站帐号打通，开放给所有房天下网站登录用户</p>
        <p class="signature">h5团队</p><p>2017-12-12</p>
    </div>
</div>
<div id="20161114" class="record">
    <div class="recordHead">
        <span class="date">2016-11-14</span>
        <h5>［更新］h5创作平台v1.2.2更新优化日志</h5>
        <span class="arrowDown"></span>
    </div>
    <div class="targetCon">
        <h5>本次功能优化&更新</h5>
        <p>1. [编辑页/预览页] 新增点击显示弹窗功能</p>
        <p>2. [编辑页/预览页] 优化元素跳转</p>
        <p>3. [编辑页/预览页] 增加正计时和倒计时功能</p>
        <p>4. [编辑页/预览页] 优化'通用按钮'单一跳转链接功能</p>
        <p class="signature">h5团队</p><p>2016-11-14</p>
    </div>
</div>
<div id="20161020" class="record">
    <div class="recordHead">
        <span class="date">2016-10-20</span>
        <h5>［更新］h5创作平台v1.2.1更新优化日志</h5>
        <span class="arrowDown"></span>
    </div>
    <div class="targetCon">
        <h5>本次功能优化&更新</h5>
        <p>1. [编辑页] 增加辅助线功能</p>
        <p>2. [编辑页] 增加psd上传功能</p>
        <p>3. [编辑页] 增加https支持</p>
        <p class="signature">h5团队</p><p>2016.10.20</p>
    </div>
</div>
<div id="20160729" class="record">
    <div class="recordHead">
        <span class="date">2016-07-29</span>
        <h5>［更新］h5创作平台v1.2.0更新优化日志</h5>
        <span class="arrowDown"></span>
    </div>
    <div class="targetCon">
        <h5>本次功能优化&更新</h5>
        <p>1. [编辑页] 增加我的音乐及音乐上传功能</p>
        <p>2. [列表页] 增加模板分类</p>
        <p class="signature">h5团队</p><p>2016.07.29</p>
    </div>
</div>
<div id="20160429" class="record">
    <div class="recordHead">
        <span class="date">2016-04-29</span>
        <h5>［更新］h5创作平台v1.1.9更新优化日志</h5>
        <span class="arrowDown"></span>
    </div>
    <div class="targetCon">
        <h5>本次功能优化&更新</h5>
        <p>1. [编辑页] 特殊按钮增加点赞选项</p>
        <p>2. [手机预览页] 增加点赞交互</p>
        <p class="signature">h5团队</p><p>2016.04.29</p>
    </div>
</div>
<div id="20160425" class="record">
    <div class="recordHead">
        <span class="date">2016-04-25</span>
        <h5>［更新］h5创作平台v1.1.8更新优化日志</h5>
        <span class="arrowDown"></span>
    </div>
    <div class="targetCon">
        <h5>本次功能优化&更新</h5>
        <p>1. [编辑页] 增加图集功能入口</p>
        <p>2. [手机预览页] 增加图集功能展示</p>
        <p class="signature">h5团队</p><p>2016.04.25</p>
    </div>
</div>
<div id="20160316" class="record">
    <div class="recordHead">
        <span class="date">2016-03-16</span>
        <h5>［更新］h5创作平台v1.1.7更新优化日志</h5>
        <span class="arrowDown"></span>
    </div>
    <div class="targetCon">
        <h5>本次功能优化&更新</h5>
        <p>1. [编辑页] 增加表引入网页入口</p>
        <p>2. [手机预览页] 增加iframe网页展示</p>
        <p class="signature">h5团队</p><p>2016.03.16</p>
    </div>
</div>
<div id="20160304" class="record">
    <div class="recordHead">
        <span class="date">2016-03-04</span>
        <h5>［更新］h5创作平台v1.1.6更新优化日志</h5>
        <span class="arrowDown"></span>
    </div>
    <div class="targetCon">
        <h5>本次功能优化&更新</h5>
        <p>1. [首页] 增加表单页面跳转入口</p>
        <p>2. [表单页] 增加表单页面及表单下载功能</p>
        <p>3. [编辑页] 增加项目单页存为我的模板功能</p>
        <p>4. [编辑页] 增加我的模板库模块</p>
        <p class="signature">h5团队</p><p>2016.03.04</p>
    </div>
</div>
<div id="20160218" class="record">
    <div class="recordHead">
        <span class="date">2016-02-18</span>
        <h5>［更新］h5创作平台v1.1.5更新优化日志</h5>
        <span class="arrowDown"></span>
    </div>
    <div class="targetCon">
        <h5>本次功能优化&更新</h5>
        <p>1. [首页] 增加各集团按城市统计功能(专题总数、报名总人数、UV总量)</p>
        <p>2. [编辑页、预览页] 编辑页、预览页表单增加优惠劵功能</p>
        <p class="signature">h5团队</p><p>2016.02.18</p>
    </div>
</div>
<div id="20160216" class="record">
    <div class="recordHead">
        <span class="date">2016-02-16</span>
        <h5>［更新］h5创作平台v1.1.4更新优化日志</h5>
        <span class="arrowDown"></span>
    </div>
    <div class="targetCon">
        <h5>本次功能优化&更新</h5>
        <p>1. [首页] 增加未设置“城市集团”提示弹窗</p>
        <p>2. [编辑页、预览页] 编辑页、预览页增加翻页控制</p>
        <p>3. [编辑页] 增加复制、粘贴、删除、剪切、撤销、保存以及上下左右位置微调快捷键</p>
        <p class="signature">h5团队</p><p>2016.02.16</p>
    </div>
</div>
<div id="20160125" class="record">
    <div class="recordHead">
        <span class="date">2016-01-25</span>
        <h5>［更新］h5创作平台v1.1.3更新优化日志</h5>
        <span class="arrowDown"></span>
    </div>
    <div class="targetCon">
        <h5>本次功能优化&更新</h5>
        <p>1. [增加] 增加公开项目功能，独立公开项目页面，入口放在标头</p>
        <p>2. [首页] 点击预览不再跳转新页面，改为浮层预览</p>
        <p>3. [首页] 增加已公开项目标志</p>
        <p>4. [PC预览页] 增加项目公开设置按钮</p>
        <p>5. [公开项目页] 可下拉至页面底部自动加载更多</p>
        <p>6. [公开项目页] 可按集团分类筛选查看</p>
        <p>7. [公开项目页] 预览公开项目可直接选取自动新建跳转至编辑页</p>
        <p class="signature">h5团队</p><p>2016.01.25</p>
    </div>
</div>

<div id="20160112" class="record">
    <div class="recordHead">
        <span class="date">2016-01-12</span>
        <h5>［更新］h5创作平台v1.1.2更新优化日志</h5>
        <span class="arrowDown"></span>
    </div>
    <div class="targetCon">
        <h5>本次功能优化&更新</h5>
        <p>1. [手机预览页] 进一步完善分页加载功能(考虑页面点击跳转时的加载情况)</p>
        <p>2. [手机预览页] 图表的动画效果展示</p>
        <p>3. [手机预览页] css文件精简、元素动画效果优化</p>
        <p class="signature">h5团队</p><p>2016.01.12</p>
    </div>
</div>

<div id="20160111" class="record">
    <div class="recordHead">
        <span class="date">2016-01-11</span>
        <h5>［更新］h5创作平台v1.1.1更新优化日志</h5>
        <span class="arrowDown"></span>
    </div>
    <div class="targetCon">
        <h5>本次功能优化&更新</h5>
        <p>1. [手机预览页] 解决shape文件重复ajax请求问题</p>
        <p>2. [手机预览页] 所有插件js文件冷combo到p.js文件，所有项目文件冷combo到m.js文件，减少http请求</p>
        <p>3. [手机预览页] 增加分页加载功能，大幅增加首屏加载速度</p>
        <p class="signature">h5团队</p><p>2016.01.11</p>
    </div>
</div>

<div id="20160106" class="record">
    <div class="recordHead">
        <span class="date">2016-01-06</span>
        <h5>［更新］h5创作平台v1.1.0更新优化日志</h5>
        <span class="arrowDown"></span>
    </div>
    <div class="targetCon">
        <h5>本次功能优化&更新</h5>
        <p>1. [手机预览页] 代码重构，优化内存占用及响应速度</p>
        <p>2. [编辑页] 增加自定义音乐</p>
        <p>3. [编辑页] 图表可以自定义缩放大小、移动位置</p>
        <p class="signature">h5团队</p><p>2016.01.06</p>
    </div>
</div>

<div id="20160104" class="record">
    <div class="recordHead">
        <span class="date">2016-01-04</span>
        <h5>［更新］h5创作平台v1.0.03更新优化日志</h5>
        <span class="arrowDown"></span>
    </div>
    <div class="targetCon">
        <h5>本次功能优化&更新</h5>
        <p>1. [首页] 增加设置用户默认城市、集团、渠道信息入口(未填写右上角黄色圆圈提示，无法实现流量本地化)</p>
        <p>2. [信息页] 增加我的默认信息、项目信息设置页面(城市、集团、渠道)</p>
        <p>3. [PC预览页] 增加为该项目设置分享信息(城市、集团、渠道)入口---如果用户默认信息未设置入口背景色为红色</p>
        <p>4. [首页] 项目列表中二维码自动添加分享参数(前提：用户默认信息已设置OK)</p>
        <p>5. [PC预览页] 分享链接及二维码自动添加分享参数(前提：用户默认信息或该项目参数已设置OK)</p>
        <p class="signature">h5团队</p><p>2015.12.29</p>
    </div>
</div>

<div id="20151225" class="record">
    <div class="recordHead">
        <span class="date">2015-12-25</span>
        <h5>［更新］h5创作平台v1.0.02更新优化日志</h5>
        <span class="arrowDown"></span>
    </div>
    <div class="targetCon">
        <h5>本次功能优化&更新</h5>
        <p>1. [首页] 增加回收站功能</p>
        <p>2. [首页] 我的项目页面点击删除暂时存至回收站</p>
        <p>3. [首页] 回收站里项目增加恢复至我的项目功能</p>
        <p class="signature">h5团队</p><p>2015.12.25</p>
    </div>
</div>

<div id="20151217" class="record">
    <div class="recordHead">
        <span class="date">2015-12-17</span>
        <h5>［更新］h5创作平台v1.0.01更新优化日志</h5>
        <span class="arrowDown"></span>
    </div>
    <div class="targetCon">
        <h5>本次功能优化&更新</h5>
        <p>1. [编辑页、预览页] 增加元素的场间和出场动画</p>
        <p>2. [编辑页、预览页] 增加图片、形状以及文本的点击事件和点击效果：放大元素、隐藏元素、翻页和跳转链接</p>
        <p>3. [编辑页] 优化删除我上传的图片效果</p>
        <p>4. [编辑页] 增加背景图片大小提示</p>
        <p>3. [预览端] 优化翻页效果，增加过渡处理，优化元素动画渲染方式</p>
        <p class="signature">h5团队</p><p>2015.12.16</p>
    </div>
</div>

</div>
<script type="text/javascript" src="{!$applicationConfig.domain.imgUrl.admin!}js/jquery/2.1.1/jquery.js"></script>
<script>
    $('.recordHead').on('click',function(){
        $(this).find('.arrowDown').toggleClass('active').parent().next().toggle();
    });
    var theFirst = $('.content').children().first();
    theFirst.find('.arrowDown').addClass('active');
    theFirst.find('.targetCon').show();
    var url = window.location.href;
    if(url.indexOf('#')>-1){
        var id = url.substring(url.indexOf('#')+1,url.length);
        $('.record').each(function(){
            if(this.id == id){
                $(this).find('.arrowDown').click();
            }
        });
    }
</script>
</body>
</html>