/*css Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, header, footer, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
}

article, aside, nav, section, dialog, figure, header, footer, hgroup {
    display: block;
}

legend {
    display: none;
}

:focus {
    outline: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

a img, iframe {
    border: none;
}

ul {
    list-style: none;
}

input, textarea, select, button {
    font-size: 100%;
    font-family: inherit;
}

input, select {
    vertical-align: middle;
}

select {
    margin: inherit;
}

button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

/* Fixes incorrect placement of numbers in ol's in IE6/7 */
ol {
    margin-left: 2em;
}

/* ========================================= clearfix == */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

a {
    color: #333;
    text-decoration: none;
}

.clearfix {
    display: block;
}
* {
    box-sizing: border-box;
}
body {
    font-family: '微软雅黑';
    background: #ffffff;
}

.relative {
    position: relative;
}
/*顶部导航*/
.top {
    position: absolute;
    width:100%;
    height: 50px;
    line-height: 44px;
    background-color: #df3031;
    z-index:999;
}

.logo {
    width: 156px;
    height: 100%;
    float: left;
    text-align: center;
}

.logo img {
    width: 116px;
    padding-top: 12px;
    cursor: pointer
}

.content{position:absolute;width: 100%;height:100%;background:#F2F2F2;padding-top: 50px;}
.leftCon{
    padding-left: 0px;
    height: 100%;
    touch-action: manipulation;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.leftCon .leftDiv{
    position:relative;width:170px;height:100%;margin:0;padding:0; background:#e6e6e6
}

.line-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    /*width: 0;
    height: 0;
    z-index: 1;*/
    pointer-events: none;
}

.line-container .v-line {
    position: absolute;
    height: 1008px;
    border-left: 1px solid #0fe;
}

.line-container .h-line {
    position: absolute;
    width: 640px;
    border-top: 1px solid #0fe;
}

.referLinebtn {
    width: 90px;
    height: 30px;
    color: #42C2B3;
    cursor: pointer;
}

.referLinebtn i {
    font-size: 22px;
}

.referLinebtn p {
    display: none;
    font-size: 14px;
    margin-left: 10px;
    vertical-align: top;
}
.referLinebtn p.active, .referLinebtn:hover p {
    display: inline;
}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/a8afa39ba1dac0b694c2f2a29d12e356.ttf');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-buy:before {
    content: "\E900";
}
.icon-feedback:before {
    content: "\E901";
}
.icon-local_phone:before {
    content: "\E902";
}
.icon-logo:before {
    content: "\E903";
}
.icon-reply:before {
    content: "\E904";
}
.icon-reply2:before {
    content: "\E905";
}
.icon-checkmark:before {
    content: "\E906";
}
.icon-icomoon-text:before {
    content: "\E907";
}
.icon-image-inverted:before {
    content: "\E908";
}
.icon-iconfont-zhaopian:before {
    content: "\E909";
}
.icon-star-full:before {
    content: "\E90A";
}
.icon-hyperlink:before {
    content: "\E90B";
}
.icon-music:before {
    content: "\E90C";
}
.icon-icon-pause:before {
    content: "\E90D";
}
.icon-playm:before {
    content: "\E90E";
}
.icon-replay:before {
    content: "\E90F";
}
.icon-arrow_back:before {
    content: "\E910";
}
.icon-spinner:before {
    content: "\E911";
}
.icon-schedule:before {
    content: "\E912";
}
.icon-smile:before {
    content: "\E913";
}
.icon-menu:before {
    content: "\E914";
}
.icon-add:before {
    content: "\E915";
}
.icon-iconfont-zhongxinduiqi:before {
    content: "\E916";
}
.icon-iconfont-youduiqi:before {
    content: "\E917";
}
.icon-iconfont-diduiqi:before {
    content: "\E918";
}
.icon-iconfont-dingduiqi:before {
    content: "\E919";
}
.icon-iconfont-zuoduiqi:before {
    content: "\E91A";
}
.icon-iconfont-juzhongduiqi:before {
    content: "\E91B";
}
.icon-eye:before {
    content: "\E91C";
}
.icon-googleplus:before {
    content: "\E91D";
}
.icon-copy:before {
    content: "\E91E";
}
.icon-trash:before {
    content: "\E91F";
}
.icon-thumb_up:before {
    content: "\E920";
}
.icon-visibility:before {
    content: "\E921";
}
.icon-iconfont-jinzhi:before {
    content: "\E922";
}
.icon-iconfont-shengyin:before {
    content: "\E923";
}
.icon-trouble:before {
    content: "\E924";
}
.icon-phone_iphone:before {
    content: "\E925";
}
.icon-iconfont-error:before {
    content: "\E926";
}
.icon-iconfont-save:before {
    content: "\E927";
}
.icon-iconfont-setting:before {
    content: "\E928";
}
.icon-iconfont-error2:before {
    content: "\E929";
}
.icon-ic_form1:before {
    content: "\E92A";
}
.icon-ic_play:before {
    content: "\E92B";
}
.icon-ic_widgets:before {
    content: "\E92C";
}
.icon-ic_correct:before {
    content: "\E92D";
}
.icon-ic_error:before {
    content: "\E92E";
}
.icon-ic_prompt:before {
    content: "\E92F";
}
.icon-texiao:before {
    content: "\E930";
}
.icon-uniE930:before {
    content: "\E931";
}
.icon-qrcode:before {
    content: "\E932";
}
.icon-ic_help:before {
    content: "\E933";
}
.icon-chevron_right:before {
    content: "\E934";
}
.icon-expand_more:before {
    content: "\E935";
}
.icon-close:before {
    content: "\E936";
}
.icon-paragraph-right:before {
    content: "\E937";
}
.icon-paragraph-center:before {
    content: "\E938";
}
.icon-paragraph-left:before {
    content: "\E939";
}
.icon-italic:before {
    content: "\E93A";
}
.icon-bold:before {
    content: "\E93B";
}
.icon-underline:before {
    content: "\E93C";
}
.icon-crop:before {
    content: "\E93D";
}
.icon-award:before {
    content: "\E93E";
}
.icon-yulan:before {
    content: "\E93F";
}
.icon-chongzuo:before {
    content: "\E940";
}
.icon-cexiao:before {
    content: "\E941";
}
.icon-wangge:before {
    content: "\E942";
}
.icon-beijing:before {
    content: "\E943";
}
.icon-fabu:before {
    content: "\E944";
}
.icon-ignore:before {
    content: "\E945";
}
.icon-level:before {
    content: "\E946";
}
.icon-vertical:before {
    content: "\E947";
}
.icon-background:before {
    content: "\E948";
}
.icon-shuo:before {
    content: "\E949";
}
.icon-ps:before {
    content: "\E94A";
}

.timer .btn {
    text-align: left;
    width: 150px;
    line-height: 1.42857143;
    height: 32px;
}
.timer ul {
    width:150px;
}